header{
    height: 10vh;
    line-height: 10vh;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0));
    color: #fff;
    position: relative;
    z-index: 999;
}

.logo img{
    width: 60px;
    margin-top: 10px;
}

header a {
    color: #fff;
    margin-left: 30px;
}

header i {
    quotes: 30px;
    height: 40px;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 10px;
}

header button{
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.toggle{
    display: none;
}

@media only screen and (max-width: 768px){
    header nav .flexSB{
        display: none;
    }

    .account {
        display: none;
    }

    .navMenu-list{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #e50912;
        width: 60%;
        height: 100vh;
        z-index: 999;
    }

    header ul li {
        margin-top: 30px;
        padding: 0 50px;
    }

    .toggle{
        display: block;
        position: absolute;
        top: 0; right: 0px; bottom: 0;
        margin: auto;
        cursor: pointer;
        background: none;
    }
}